# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# Django migrations
# Keep migrations in Git
# migrations/